#__next{
	padding: 0 30px;
}

.form-group label {
	width: 100%;
}

.search{
	margin-top: 10px;	
}

.search-filter, .sort{
	width: 260px;
}

.search-button{
	margin-top: 23px;
}

.sort .btn-light{
	margin: 0 10px;
}

.film{
	display: block;
}

.sort,.film,.results{
	margin-bottom: 10px;
}

.film-img-cnt{
	max-height: 492px;
	overflow: hidden;
}

.film-page-img{
	width: 100%;
}

.film-badge,.film-page-duration{
	margin-left: 15px;
}

.films-similar-genre{
	margin: 20px 0;
}