.form-group label {
	width: 100%;
}

.search-filter{
	width: 240px;
}

.search-button{
	margin-top: 23px;
}

.sort .btn-light{
	margin: 0 10px;
}

.sort,.film,.results{
	margin-bottom: 10px;
}

.film-img-cnt{
	max-height: 492px;
	overflow: hidden;
}